
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <input type="text" [(ngModel)]="name" >-->
<!--    <h3>Hello!! Welcome {{name}}</h3>-->
<!--    <app-server></app-server>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <input type="text" [(ngModel)]="name">
      <h2>Hello {{name}}</h2>
    </div>
  </div>
</div>
<button class="btn btn-danger" routerLink="/danger">Danger</button>
<button class="btn btn-default" routerLink="/success">Success</button>
<button class="btn btn-primary" routerLink="/server">Server</button>
<button class="btn btn-primary" routerLink="/directive">Directives</button>
<button class="btn danger" routerLink="/assignment3">Assignemt3</button>
<router-outlet></router-outlet>



