<h1>My app</h1>
<!-- <a routerLink="home">Home</a>
<br>
<a routerLink="settings">Settings</a>
<br>
<a routerLink="address-card">Address-card</a>
<br>
<a routerLink="date">Date</a> -->
<a *ngFor="let route of routes" [routerLink]="route.url">{{route.linkName}}</a>



<router-outlet></router-outlet>

<!-- <app-view-component></app-view-component>

<app-hello-world></app-hello-world>
<app-date></app-date>


  <app-adress-card [user]="user"></app-adress-card>

  <input type="text" [(ngModel)]="inputText">
  {{inputText}} -->


